{% extends 'base.html' %}

{% block content %}
<div class="row content">
    <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Categories</div>
            <div class="panel-body">
                {% for category in categories %}
                <a href="{{url_for('category_page', category=category.name)}}">{{category.name}}</a><br><br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Items {% if 'username' in session %} <a href="{{url_for('add_item', cat_name='Baratheon')}}">&bigoplus;</a> {% endif %}</div>
            <div class="panel-body">
                {% for item in items %}
                <a href="{{url_for('item_page', category= item.cat_name, item=item.name)}}">{{item.name}} ({{item.cat_name}})</a><br><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}